# Copy this to .env and fill in your values
# NEVER commit .env to git

DISCORD_TOKEN=MTUwODA2NjI2MDY0OTUwOTAxNA.Gq0CDb.HZlHZ85-mebsorTn_uAZVi6EzlTY1dlpn0Z3xY
CLIENT_ID=1508066260649509014
GUILD_ID=1484166276451663932
